body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(); /*add smt at the end */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}



.cooltext{
    font-family: 'Lobster';
    color: 
}


/*madLib section*/
.border1{
    border: dashed red;
    
}

#madLibOutput {
    padding: 20px;
    text-align: center;

}
/*madLib section*/

